body{
    display: grid;
    font-family: 'Roboto', sans-serif;
}

main{
    background: url(img/pan3.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.Mainvid{
    display: flex;
    justify-content: center;

}

.piccontainer {
    display: grid;
    grid-auto-flow:column;
}

footer{
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        padding: 5%;
        background-color: rgb(255, 255, 255);
    
}

.Bio{
    font-family: 'Arbutus';
    color: white;
    font-size: large;
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;
}

.Moretext{
    font-family: 'Arbutus';
    color: white;
    font-size: large;
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;
}

.footertext{
   align-items: center;
   position: absolute;
   padding-top: 8%;
}