body{
display: grid;
}

main{

    background: url(img/pan1.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    
    

    

}

.piccontainer {
    display: grid;
    grid-auto-flow:column;

    
}

footer{
    display: flex;
    justify-content: center,space-between;
    padding: 5%;
    background-color: rgb(255, 255, 255);
}

.Bio{
    color: white;
    font-size: x-large;
    text-align: center;
}

.Moretext{
    color: white;
    font-size: x-large;
    text-align: center;
}

.footertext{
   align-items: center;
   position: absolute;
   padding-top: 8%;
}